$mainBlack: #323232;
$secondBlack: #494949;
$mainYellow: #ffff00;
$mainWhite: #ffffff;
$mainGreen: #4d8f60;
$secondGreen: #20bf6b;
$darkGreen: #3b784c;
$text: #444444;
$mainOrange: #fc6a03;
$secondOrange: #f05e23;
$lightBlue: #e0e6ef;
$mainBlue: #2f5572;
