$mainBlack: #323232;
$secondBlack: #494949;
$mainYellow: #ffff00;
$mainWhite: #ffffff;
$mainGreen: #4d8f60;
$secondGreen: #20bf6b;
$text: #444444;
$mainOrange: #d59541;
$lightBlue: #e0e6ef;
$mainBlue: #2f5572;

