@import "../styles/mixins";
@import "../styles/variables";

.wrapper {
  margin: 50px auto 0 auto;
  background-color: rgba($mainWhite, 0.7);
  color: $text;
  padding: 1rem 1rem;

  @include atMedium {
    padding: 3rem 1rem;
  }

  @include atLarge {
    padding: 4rem 1rem;
  }
}

.block {
  width: 90vw;
  margin: 0 auto;

  @include atMedium {
    width: 75vw;
  }

  @include atLarge {
    width: 50vw;
  }
}

.header {
  margin-top: 0;
}
