@import '../styles/mixins';
@import '../styles/variables';

.wrapper {
  display: grid;
  grid-template-rows: .5fr 1fr;
  padding: 1rem 0;

  @include atMedium {
    padding: 3rem 1rem;
  }

  @include atLarge {
    padding: 4rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

  }
}

.info {
  display: grid;
  grid-template-rows: auto auto;
}

.text-area {
  display: flex;
  flex-direction: column;
  p {
    padding: 0 1rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $mainGreen;
    font-weight: 900;
  }
}
