@import '../styles/mixins';
@import '../styles/variables';
.container {
  background-color: rgba($mainWhite, 0.7);
}

.wrapper {
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .2em;

  @include atSmall {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include atMedium {
    width: 85vw;
    padding: 4rem 2rem;
  }

  @include atLarge {
    width: 50vw;
  }
}

.gallery-image {
  object-fit: cover;
}
