@import '../styles/variables';
@import '../styles/mixins';

.footer {
  background-color: $mainGreen;
  color: $mainWhite;
  padding: 2rem;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  font-size: .9rem;

  @include atMedium {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
  }

  @include atLarge {
    max-width: 50vw;
  }
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 250px;
}
.nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;

  li {
    padding-bottom: 1rem;
  }
}

.nav-item {
  text-decoration: none;
  color: $mainWhite;
}

.nav-item:hover {
  color: $mainYellow;
}

.copyright {
  display: flex;
  justify-content: center;
}

.phone {
  text-decoration: none;
  color: $mainYellow;
}
