@import "../styles/variables";
@import "../styles/mixins";

.header {
  position: fixed;
  z-index: 2;
  padding: 0.5rem;
  left: 0;
  right: 0;
  background-color: rgba($mainWhite, 0.8);
}

.head-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include atMedium {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.menu-button {
  width: 20px;
  height: 20px;
  z-index: 3;
  position: absolute;
  right: 15px;
  top: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $secondBlack;
    transform-origin: 0 0;
    transition: transform 0.5s ease-out;
  }

  &-middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $secondBlack;
    transition: all 0.5s ease-out;
    transform-origin: 0 50%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $secondBlack;
    transform-origin: 0 100%;
    transition: transform 0.5s ease-out;
  }

  @include atMedium {
    display: none;
  }
}

.menu-button-close {
  &::before {
    transform: rotate(45deg) scaleX(1.25);
  }

  .menu-button-middle {
    opacity: 0;
    transform: scaleX(0);
  }

  &::after {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px);
  }
}

.site-logo {
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 4;
  top: 5px;
  left: 0px;

  @include atMedium {
    width: 75px;
    height: 75px;
    left: 10px;
  }

  @include atLarge {
    left: 30px;
  }
}

.headline-text {
  font-size: 1.25rem;
  color: $mainWhite;
  text-decoration: none;

  @include atSmall {
    font-size: 2rem;
  }
}

.active-nav {
  width: 100vw;
  // background-color: rgba($mainWhite, 0.3);
  animation: slide-down 0.4s ease-out;
}

.nav {
  transform: translateY(-100%);

  @include atMedium {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.no-logo {
  margin-top: 0.2rem;
  margin-bottom: 0;
  color: $secondBlack;
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  font-size: 1.5rem;
}

.header-nav {
  display: flex;
  width: 75vw;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 0.5rem;

  @include atMedium {
    width: 50vw;
  }
}

.nav-item {
  font-weight: 800;
  text-decoration: none;
  color: $secondBlack;
  font-size: 0.8rem;

  @include atSmall {
    font-size: 1rem;
  }
}

.nav-item:hover {
  color: $mainGreen;
}

.nav-item-active {
  color: $mainGreen;
}
